---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';

import IconList from "../../components/label/IconList.astro";
import ContentList from "../../components/label/ContentList.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = Object.values(import.meta.glob('./**/*.md', { eager: true }));

  // Return a paginated collection of paths for all items
  return paginate(allPosts.reverse(), { pageSize: 10 });
}

const { page } = Astro.props;
const contentItems = page.data.map(post => ({
    title: post.frontmatter.title,
    url: post.url,
    pubDate: post.frontmatter.pubDate,
    wordCount: post.frontmatter.readingTime.words,
    description: post.frontmatter.description
}));

---

<BaseLayout>
    <section class="label vertical-stack">
        <div class="padded">
            <h2>Posts</h2>
        </div>
        <ContentList items={contentItems} startOffset={page.total-page.end-1} />
        <div class="padded" style="text-align: center">
            { page.url.next ? (
                <a href={page.url.next}>More posts</a>
            ) : ""}
        </div>
    </section>
</BaseLayout>
