---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentList from "../../components/label/ContentList.astro";
import type {
    MarkdownInstance,
    InferGetStaticPropsType,
    GetStaticPaths,
} from "astro";
import { getPosts } from "../../utils/posts";

export const getStaticPaths = (async ({ paginate }) => {
    const allPosts = getPosts();
    return paginate(allPosts, { pageSize: 20 });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const contentItems = page.data.map((post) => ({
    title: post.frontmatter.title,
    url: post.url,
    pubDate: post.frontmatter.pubDate,
    wordCount: post.frontmatter.readingTime.words,
    description: post.frontmatter.description,
    isDraft: post.frontmatter.isDraft || false
}));
---

<BaseLayout>
    <section class="label vertical-stack">
        <div class="padded">
            <h2>Posts</h2>
        </div>
        <ContentList
            items={contentItems}
            startOffset={page.total - page.end - 1}
        />
        <div class="padded" style="text-align: center">
            {page.url.next ? <a href={page.url.next}>More posts</a> : ""}
        </div>
    </section>
</BaseLayout>
