

section.hero {
    background: url(/assets/images/hero3.jpeg);
    background-size: cover;
    box-shadow: 0px 0px 40px 20px inset var(--color-bg);
    aspect-ratio: 16/9;
    color: white;
    position: relative;
    h1 {
        position: absolute;
        left: 10%;
        top: 16%;
        font-size: min(5vw, 3.5em);
        font-family: "Geo";
        font-weight: 500;
        border-left: 1px dotted white;
        margin: 0;
        padding-left: 0.5em;
        img {
            width: min(20vw, 225px);
        }
    }
}

.hero-labels {
    list-style-type: none;
}
.hero-labels > .label {
    --color-label-bg: black;
    --color-label-fg: white;
    position: absolute;
    font-family: "Geo";
    font-size: 0.8em;
    display: grid;
    grid-template-columns: auto;
    width: auto;
    .descr {
        font-family: "Lato";
        text-transform: uppercase;
    }
    .fig dt {
        letter-spacing: 0.5px;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        font-size: 0.6em;
    }
}
@media (max-width: 700px) {
    .hero-labels {
        display: none;
    }
}

.about-label {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto min-content auto;
    grid-template-areas: 
        "divider divider"
        "qr info-head"
        "qr info"
        "data data"
        "map map"
    ;
    .qr {
        grid-area: qr;
        text-align: center;
        img {
            margin: auto;
            width: 150px;
            padding: 10px;
            height: auto;
        }
    }
    .info-head {
        grid-area: info-head;
    }
    .info {
        grid-area: info;
    }
    .map {
        grid-area: map;
        height: 450px;
    }
    .data {
        grid-area: data;
    }
    .divider-diagonal {
        grid-area: divider;
    }
}



.blog-list {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto;

    .blog-item {
        display: contents; /* Fill the grid with the individual elements of each blog post, not the blog-item. */
        > div {
            padding: 18px 12px 8px 12px;
        }
        > div.title {
            padding-top: 17px;
        }
        .meta {
            white-space: nowrap;
            display: flex;
            flex-flow: row wrap;
            gap: 8px 24px;
            align-content: flex-start;
        }
        .summary {
            grid-column: 1 / -1; /* Span all columns */
            padding: 0px 12px 18px 12px;
        }
        &:not(:last-child) .summary {
            border-bottom: 1px dashed black;
        }
    }
}
@media (min-width: 700px) {
    .blog-list .blog-item .meta {
        flex-wrap: nowrap;
    }
}

.social {
    padding: 11px;
    background: repeating-linear-gradient(110deg, #ffffff, #ffffff 2px, #000000 3px, #000000 4px)
}