.label-post {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1px;
    .divider-straight {
        height: 12px;
    }
}
@media (min-width: 700px) {
    .label-post {
        grid-template-columns: minmax(min-content, 30%) auto;
        grid-template-areas: 
            "pre-divider pre-divider"
            "title title"
            "standfirst standfirst"
            "divider divider"
            "meta body"
            "meta foot"
        ;
        .divider-straight { grid-area: divider; }
        .post-title { grid-area: title }
        .post-standfirst { grid-area: standfirst }
        .post-meta { grid-area: meta }
        .post-body { grid-area: body }
        .post-foot { grid-area: foot }
    }
}

.post-standfirst {
    font-size: 120%;
}

.post-body {
    line-height: 1.7;
    * { max-width: 100%; }
    h3, h4 {
        margin-top: 1.5em;
    }
    table {
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
        th, td {
            text-align: left;
            border: 1px solid black;
            color: black;
        }
    }
    blockquote {
        display: flex;
        margin: 1em 2em;
        font-style: italic;
        &::before {
            content: " ";
            width: 30px;
            margin-right: 20px;
            background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
            background-size: 6px 6px;
            background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
        }
    }
}