:root {
    --color-bg: #000000;
    --color-accent: #29f;

    --bg-mash-background-image: linear-gradient(
            45deg,
            #808080 25%,
            transparent 25%
        ),
        linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #808080 75%),
        linear-gradient(-45deg, transparent 75%, #808080 75%)
    ;
    --bg-mash-background-size: 6px 6px;
    --bg-mash-background-position:
        0 0,
        0 5px,
        5px -5px,
        -5px 0px
    ;

    --bg-diagonals-background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 15px, #000000 15px, #000000 30px);
}

body {
    background: linear-gradient(180deg, var(--color-bg) 0, var(--color-bg) 800px, #333 1000px);
    min-height: 100%;
    line-height: 1.5;
    font-family: "Manrope";
    color: white;
}

section {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

a {
    color: var(--color-accent);
    &:hover {
        background-color: var(--color-accent);
        color: #fff;
    }
}
a.block-link, .block-links a {
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    &:hover, &:hover > * {
        background-color: var(--color-accent);
        color: #fff;     
    }
}

h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}
h2 {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 1px 6px;
}

ul, ol {
    list-style-type: square;
}
