:root {
    --color-label-bg: white;
    --color-label-fg: black;
}

.label {
    padding: 0;
    width: 100%;
    background-color: var(--color-label-bg);
    color: var(--color-label-fg);
    gap: 1px;
    display: flex;
    flex-flow: column;
    > *:not(thead, tbody), > div dt, > div dd {
        box-shadow: 0 0 0 1px  var(--color-label-fg);
        gap: 1px; /* In case label containers are also labels */
        list-style-type: none;
        > :first-child {
            margin-top: 0px;
            overflow: hidden;
        }
        > :last-child {
            margin-bottom: 0px;
            overflow: hidden;
        }
    }
    > span, > dd, > dt, > div dd, > div dt, > .content, th, td {
        padding: 3px 6px;
    }
    > .padded {
        padding: 12px;
    }
}


dl.kv-vertical {
    margin: 0;
    display: grid;
    gap: 1px;
    grid-template-columns: max-content 1fr; /* Keys take minimal width, values fill remaining space */
    dt {
        font-weight: bold;
        text-align: left;
    }    
    dd {
        margin: 0;
    }
}

dl.kv-horizontal {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    > div {
        flex: 1 0 auto;
        display: flex;
        flex-flow: row nowrap;
        dt {
            font-weight: bold;
            text-align: left;
            flex: 0 0 auto;
        }    
        dd {
            margin: 0;
            flex: 1 0 auto;
        }
    }
}


table.label {
    display: table;
    border-collapse: collapse;
    th, td {
        text-align: left;
        border: 1px solid var(--color-label-fg);
        box-shadow: none;
        &:first-child { border-left: none; } /* TODO: off by 1px interaction of border and box-shadow on other items */
        &:last-child { border-right: none; }
    }
    tbody, thead {
        box-shadow: none;
        border: none;
    }
    tr:first-child td, tr:first-child th { border-top: none; }
    tr:last-child td, tr:last-child th { border-bottom: none; }
    thead { border-bottom: 1px solid var(--color-label-fg); }
}

.label-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.label.vertical-stack, .label-vertical {
    display: flex;
    flex-flow: column nowrap;
}
.label-horizontal {
    display: flex;
    flex-flow: row nowrap;
}

.label-edge-top {
    position: relative;
}
.label-edge-top::before {
    --radius: 6px;
    --padding: 5px;
    content: " ";

    height: calc(var(--radius) + var(--padding));
    width: 100%;

    position: absolute;
    top: calc((var(--radius) + var(--padding) - 3px) * -1);
    
    background-color: transparent;
    background-image: 
        radial-gradient(var(--radius), transparent 98%, white),
        linear-gradient(white 0 0);
    background-repeat: round no-repeat, no-repeat;
    background-position:
        calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
        0 var(--radius);
    background-size:
        calc(var(--radius) * 3) calc(var(--radius) * 3),
        100% calc(100% - (var(--radius) * 1.5));
}