---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<style>
section {
    padding: 50px 20px;
}
h2 {
    font-family: Geo;
    font-size: 40px;
    text-transform: none;
    em {
        font-style: none;
        color: #aaa;
    }
}
p.lead {
    font-size: 120%;
    padding-bottom: 20px;
}
</style>
<BaseLayout>
    <section>
        <h2>HTTP 404: <em>Object not found</em></h2>

        <p class="lead">The URL you just navigated to doesn't exist on this server.</p>
        
        <p>The World Wide Web is made up of documents, like this one, and a protocol, which is like a way of finding and exchanging those documents.  The protocol for the web is HTTP - HyperText Transfer Protocol, and that's the thing that defines errors like '404'.</p>
        
        <p>If there had been a page here, you would be reading that now, and not be aware that HTTP also defines a code that means "you found it!".  That one is '200'.  There are lots of others, like 500, which means something went wrong on the server, and 307, which means you should go somewhere else to find what you're looking for (a 'redirect').  Response codes are one of the essential parts of HTTP that make the Web work.</p>

        <p>If you think there should be a page here, let me know!</p>
    </section>
</BaseLayout>
