---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';

import edgeConfImg from '../assets/images/edge-conf-crowd.jpg';
import TickBoxItem from '../components/TickBoxItem.astro';
---
<style>
    .intro1 {
        font-size: 140%;
    }
    .intro1, .intro2 {
        padding: 30px;
    }
    .heroimg img {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
    .tick-footnote {
        font-size: 80%;
    }
    .role-list li {
        padding: var(--padding-body);
        .role-head {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0.3em;
        }
        p {
            margin-top: 0.5em;
        }
        .role-meta {
            background: #DDD;
            display: inline-block;
            text-transform: uppercase;
            padding: 1px 6px;
            font-weight: bold;
            font-size: 70%;
        }
    }
    .org {
        color: white;
        background: black;
        padding: 0 3px;
    }
    @media (min-width: 700px) {
        .label-cv {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: auto;
        }
        .intro1, .intro2, .heroimg {
            grid-column: 1 / -1; /* Span all columns */
        }
        .divider {
            grid-column: 1 / -1; /* Span all columns */
            height: 12px;
            background-image: var(--bg-mash-background-image);
            background-position: var(--bg-mash-background-position);
            background-size: var(--bg-mash-background-size);
        }
    }
</style>

<BaseLayout>

<section class='label label-cv label-edge-top'>
    <div class="intro1">
        <p>I'm an <strong>experienced engineering leader</strong> passionate about using technology to connect, empower and inspire. The consultancy I founded was acquired by the <a href="https://www.ft.com">Financial Times</a>, I moved to Japan to advise <a href="https://www.nikkei.com">Nikkei</a> on digital transformation, I have been elected to the <a href="https://tag.w3.org">W3C's Technical Architecture Group</a>, created the developer relations organisation at <a href="https://www.fastly.com">Fastly</a>, and now help <a href="https://www.bloomberg.com">Bloomberg</a> with API standards.</p>
    </div>
    <div class="heroimg">
        <Image src={edgeConfImg} alt="Me addressing a crowd at Edge Conference, which I organised" />
    </div>
    <div class="intro2">
        <p>Along the way I've single-handedly coded a logistics system in Zimbabwe, modelled for a <a href="https://www.neighborhood.jp/">Japanese menswear brand</a>, founded and curated the respected <a href="https://www.edgeconf.com">Edge web conference</a>, served as co-chair of <a href="https://ldnwebperf.org/">London Web Performance</a>, and was working in <a href="https://ldnwebperf.org/">Air Traffic Control</a> on 9/11.</p>
        <p>I’m a believer in the web and open standards, and love sharing that enthusiasm with others.  Read on to learn more.</p>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Key skills</h2></div>
    <div>
        <ul class="label label-grid">
            <li><TickBoxItem isChecked>Eng. leadership</TickBoxItem></li>
            <li><TickBoxItem isChecked>Developer relations</TickBoxItem></li>
            <li><TickBoxItem isChecked>Advocacy</TickBoxItem></li>
            <li><TickBoxItem isChecked>Mentoring</TickBoxItem></li>
            <li><TickBoxItem isChecked>Product management</TickBoxItem></li>
            <li><TickBoxItem isChecked>Web strategy</TickBoxItem></li>
            <li><TickBoxItem isChecked>Writing</TickBoxItem></li>
            <li><TickBoxItem isChecked>User experience</TickBoxItem></li>
            <li><TickBoxItem isChecked>Product development</TickBoxItem></li>
            <li><TickBoxItem isChecked>Data analysis</TickBoxItem></li>
            <li><TickBoxItem isChecked>JavaScript</TickBoxItem></li>
            <li><TickBoxItem isChecked>HTML</TickBoxItem></li>
            <li><TickBoxItem isChecked>CSS</TickBoxItem></li>
            <li><TickBoxItem isChecked>HTTP</TickBoxItem></li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Experience</h2></div>
    <div>
        <ol class="role-list label">
            <li>
                <div class="role-head">
                    <h3>API Standards and Governance, <span class="org">Bloomberg</span></h3>
                    <div class='role-meta'>London · 2025 onwards</div>
                </div>
                <p>At <a href="https://www.bloomberg.com">Bloomberg</a> I write policy that ensures our customers' access to real time data and analysis via Bloomberg APIs is consistent with open web principles and industry best practices.  I deliver training and consulting to teams that deploy those APIs, and maintain tools that make their jobs easier and more productive.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Developer Relations Strategy Lead, <span class="org">Fastly</span></h3>
                    <div class='role-meta'>London · 2017-2024</div>
                </div>
                <p>At <a href="https://www.fastly.com">Fastly</a> I led the developer relations operation, and helped developers around the world to make their websites fast, secure and engaging. I owned all developer tooling, along with reference docs, developer engagement and community programmes.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Technical Architecture Group member, <span class="org">W3C</span></h3>
                    <div class='role-meta'>Global · 2016-2018</div>
                </div>
                <p>I was an elected member of the World Wide Web Consortium's <a href="https://tag.w3.org">Technical Architecture Group</a>, a nine-member body responsible for guiding the development of the World Wide Web. TAG reviews specification proposals and considers the future development of the web platform for the benefit of developers and users across the world.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Senior Director, <span class="org">Financial Times</span></h3>
                    <div class="role-meta">Tokyo · 2016-2017</div>
                </div>
                <p>On assignment in Tokyo, Japan, assisting <a href="https://www.nikkei.com">Nikkei</a> (FT's parent) in their digital transformation plans. My work encompassed digital strategy, product and technical architecture.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Director of FT Labs, <span class="org">Financial Times</span></h3>
                    <div class='role-meta'>London · 2011-2016</div>
                </div>
                <p>I led the <a href="http://labs.ft.com/">FT Labs</a> division. The <a href="http://app.ft.com/">FT Web App</a> grew to handle over 60% of the FT’s subscriber article consumption, and FT Labs has launched new initiatives such as <a href="http://origami.ft.com/">Origami</a>, a design system for all FT products, and numerous open source projects including one that was adopted by over 100,000 websites.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Founder, <span class="org">Assanka</span></h3>
                    <div class="role-meta">London · 2003-2011</div>
                </div>
                <p>I started Assanka to experiment with web technologies. We built one of the first real time live blogging sites, which <a href="http://www.webbyawards.com/winners/2008/web/general-website/blog-business/ftcom-alphaville/">won two Webby awards</a> in 2008. In 2011, we released the world’s first major "HTML5" newspaper site for the Financial Times. In this role I wrote the original version of what became <a href="https://github.com/ftlabs/ftdatasquasher">FT data squasher</a>, widely regarded as one of the craziest hacks to improve offline storage capacity in the browser before blob storage support was available on mobile browsers.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Founder, <span class="org">OnOneMap</span></h3>
                    <div class="role-meta">London · 2005-2008</div>
                </div>
                <p>I created an app combining property data from UK property marketing sites with the then-new Google Maps API. OnOneMap proved a successful concept, and was incorporated as a business. It was featured across the national press (<a href="http://www.websiteoftheday.info/2005/09/online_house_hu.html">BBC Radio 2</a>, <a href="http://www.theguardian.com/technology/2007/mar/01/freeourdata.guardianweeklytechnologysection">The Guardian</a>, <a href="http://www.pcpro.co.uk/opinions/112692/prolog">PC Pro</a>, <a href="http://edition.cnn.com/2005/TECH/08/04/spark.house.hunting/">CNN</a>, and many others) and was successfully acquired by dotHomes (now part of Zoopla) in 2008.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Developer, <span class="org">UK Air Traffic Control Service (NATS)</span></h3>
                    <div class="role-meta">London · 2001-2002</div>
                </div>
                <p>I worked for the <a href="http://www.nats.aero/">British air traffic control service</a> for a year from the summer of 2001 and saw the events of <a href="https://en.wikipedia.org/wiki/September_11_attacks">September 11, 2001</a> happen in real time from the inside of the aviation world. I created tools to replace legacy communications technology and improved workflows for geographically disparate colleagues at remote radar stations.</p>
            </li>
            <li>
                <div class="role-head">
                    <h3>Developer, <span class="org">Reapers</span></h3>
                    <div class="role-meta">Zimbabwe · 2001</div>
                </div>
                <p>Travelling across Africa and working with with local suppliers and users, I designed and built a simple, inexpensive distributed system, with no single point of failure, to manage national inventory and logistics. Tolerant to unreliable infrastructure, power outages, and designed to be accessible and efficient for low literacy users, it was still in use until 2010.</p>
            </li>
        </ol>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Speaking and writing</h2></div>
    <div>
        <div class="label">
            <div class="padded"><p>I have spoken regularly at conferences and developer events. Events I have presented at include:</p></div>
            <div>
                <ul class="label label-grid">
                    <li><TickBoxItem href="https://perfnow.nl" isChecked>Perf.now<div class="tick-footnote">Netherlands</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://heypresents.com/people/andrew-betts" isChecked>AllDayHey<div class="tick-footnote">UK</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://devopscon.io/speaker/andrew-betts/" isChecked>DevOpsCon<div class="tick-footnote">Germany</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://www.phpconference.co.uk/" isChecked>PHP UK Conference<div class="tick-footnote">UK</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://en.wikipedia.org/wiki/Over_the_Air" isChecked>OverTheAir<div class="tick-footnote">UK</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://ffconf.org/talks/offline-rules-using-new-browser-technologies-to-make-sites-work-offline-and-be-more-awesome-online/" isChecked>FFConf<div class="tick-footnote">UK</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://webdirections.org/resources/making-web-apps-as-smooth-as-native-video-presentation-by-andrew-betts/" isChecked>Web Directions South<div class="tick-footnote">Australia</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://conferences.oreilly.com/velocity/vl-ny-2017/public/schedule/speaker/137186.html" isChecked>O'Reilly Velocity<div class="tick-footnote">US, UK, Spain</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://qconlondon.com/london-2014/london-2014/speaker/Andrew+Betts.html" isChecked>QCon<div class="tick-footnote">US, UK, China, Japan</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://conferences.oreilly.com/fluent/fl-ca/public/content/about.html" isChecked>Fluent<div class="tick-footnote">US</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://www.fastly.com/altitude" isChecked>Fastly Altitude<div class="tick-footnote">US, UK, Japan</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://developers.cyberagent.co.jp/blog/archives/14482/" isChecked>Inside Frontend<div class="tick-footnote">Japan</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://2017.webconf.asia/speakers" isChecked>WebConf Asia<div class="tick-footnote">Hong Kong</div></TickBoxItem></li>
                    <li><TickBoxItem href="https://nordicjs.com/2018/speakers" isChecked>Nordic JS<div class="tick-footnote">Stockholm</div></TickBoxItem></li>
                </ul>
            </div>
            <div class="padded">
                <p>I have also written articles for a number of blogs (eg <a href="https://www.smashingmagazine.com/2017/11/understanding-vary-header/">Smashing magazine</a>, <a href="http://calendar.perfplanet.com/2014/support-the-old-optimise-for-the-new/">Perf calendar</a>) and industry magazines (eg ISO), and served on programme committees for web related conferences.</p>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Honours and awards</h2></div>
    <div class="padded">
        <ul>
            <li>12th Annual Webby Awards</li>
            <li>Who’s Who, Young Business Leaders 2008</li>
            <li>British Computer Society technical excellence</li>
            <li>Brunel Diploma in professional development</li>
            <li>Best onboarding experience, DevPortal awards, 2022</li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Education</h2></div>
    <div class="padded">
        <ol>
            <li>BSc Information Systems (1st class hons) Brunel University, 2003</li>
            <li>Brunel Diploma of Professional Development (distinction), 2002</li>
            <li>A-levels in Physics, Maths and Economics</li>
        </ol>
    </div>
    <div class="divider"></div>
    <div class="padded"><h2>Interests  and voluntary</h2></div>
    <div class="padded">
        <p>In my spare time I enjoy making LED art, automating my home, hiking, running, swimming, cooking, making gin-based cocktails, going to the gym and then consuming chocolate to make up for it.  Here are some of the other random things I've done.</p>
        <ul>
            <li>
                <h3>Littlefriends management, Menswear model (Tokyo, 2016)</h3>
                <p>I was scouted to model for <a href="http://littlefriends-management.com/">Little Friends</a> when I was in Japan, and ended up as the face of <a href="http://neighborhood.jp/">Neighborhood’s</a> 2017 spring menswear collection.</p>
            </li>
            <li>
                <h3>Metropolitan Police, Special Constable (London, 2006-2007)</h3>
                <p>For something different I worked as a volunteer officer in <a href="https://www.met.police.uk/">London’s Met Police</a> on Friday and Saturday nights. This required full police training and gave me a much better understanding of the law, first aid and self-defence.</p>
            </li>
        </ul>
    </div>
</section>

</BaseLayout>