---
const { href, isChecked, isOnDark } = Astro.props;
const classes = 'tickbox' + (isChecked ? ' checked' : '') + (isOnDark ? ' on-dark' : '');
---
<style>
.item {
    display: flex !important;
    flex-flow: row nowrap;
    padding: 5px 10px;
    .tickbox {
        flex: 0 0 auto;
        margin-right: 0.3em;
        width: 1.5em;
        height: 1.5em;
    }
}
</style>
{href ? (
    <a class='item block-link' href={href}><div class={classes} /><div><slot /></div></a>
) : (
    <div class='item'><div class={classes} /><div><slot /></div></div>
)}
