---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
    pageTitle?: string;
    showHeader?: boolean;
    robots?: Array<'noindex' | 'nofollow' | 'none'>;
}

import "../styles/reset.css";
import "../styles/base.css";
import "../styles/label-layouts.css";

const { pageTitle, showHeader, robots } = {
    pageTitle: null,
    showHeader: true,
    robots: [],
    ...Astro.props
};
---

<html lang="en">
    <head>
        <title>{`${pageTitle ? pageTitle + ' - ' : ''}Andrew Betts`}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
        <link rel="icon" href="/favicon.svg">
        <link rel="alternate" type="application/rss+xml" title="Andrew Betts" href="/feed" />
        <meta name="theme-color" content="#ffffff">
        <meta name="description" content="Web developer, standards and engineering nerd, cocktail enthusiast, maker.">
        {robots.length > 0 ? <meta name="robots" content={robots.join(', ')} /> : null}
        <script is:inline type="speculationrules">
        {
            "prerender": [
                { 
                    "where": { "selector_matches": ".pre-render" },
                    "eagerness": "eager"
                }
            ],
            "prefetch": [
                {
                    "urls": ["/"],
                    "eagerness": "immediate"
                },
                { 
                    "where": { "href_matches": "/*" },
                    "eagerness": "moderate"
                }
            ]
        }
        </script>
    </head>

    <body>
        {showHeader && (<Header />)}
        <slot />
        <Footer />
        <script>
            if ('ontouchstart' in window || navigator.maxTouchPoints > 0) {
                document.addEventListener('click', e => {
                    if (e.target instanceof HTMLElement) {
                        const a = e.target.closest('a');
                        if (a) {
                            e.preventDefault();
                            a.classList.add('pressed');
                            requestAnimationFrame(() => {
                                setTimeout(() => {
                                    window.location.href = a.href;
                                }, 80);
                            });
                        }
                    }
                });
            };
        </script>
    </body>
</html>
