---
import BaseLayout from "./BaseLayout.astro";
import type { PostMetadata } from "../types";

interface Props {
    frontmatter: PostMetadata
}

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>

    <section class="label label-edge-top">
        <div class="padded">
            <h2>{frontmatter.title}</h2>
        </div>
        <div class="rich-text padded">
            <slot />
        </div>
    </section>
</BaseLayout>
