.label-post {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1px;
    .divider-straight {
        height: 12px;
    }
}
@media (min-width: 700px) {
    .label-post {
        grid-template-columns: minmax(min-content, 30%) auto;
        grid-template-areas:
            "pre-divider pre-divider"
            "title title"
            "standfirst standfirst"
            "divider divider"
            "meta body"
            "meta foot";
        .divider {
            grid-area: divider;
            height: 12px;
            background-image: var(--bg-mash-background-image);
            background-position: var(--bg-mash-background-position);
            background-size: var(--bg-mash-background-size);
        }
        .post-title {
            grid-area: title;
        }
        .post-standfirst {
            grid-area: standfirst;
        }
        .post-meta {
            grid-area: meta;
        }
        .post-body {
            grid-area: body;
        }
        .post-foot {
            grid-area: foot;
        }
    }
}

.post-standfirst {
    font-size: 120%;
}

.post-body {
    line-height: 1.7;
    font-size: 18px;
    min-width: 0;

    * {
        max-width: 100%;
    }
    h3,
    h4 {
        margin-top: 1.5em;
    }
    table {
        border-collapse: collapse;
        border: 1px solid black;
        width: 100%;
        th,
        td {
            text-align: left;
            border: 1px solid black;
            color: black;
        }
    }
    blockquote {
        margin: 1em;
        padding-left: 30px;
        font-style: italic;
        font-size: 90%;
        position: relative;
        &::before {
            position: absolute;
            content: " ";
            left: 0;
            top: 0;
            width: 15px;
            height: 100%;
            margin-right: 20px;
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
    figure {
        display: flex;
        flex-flow: column nowrap;
        margin: 1em 0;
        padding: 2px;
        background-color: black;
        img {
            flex: 0 1 auto;
            align-self: center;
        }
        figcaption {
            color: white;
            padding: 10px;
            font-size: 80%;
            font-style: italic;
        }
    }
    img {
        height: auto;
        max-height: 700px;
    }
    pre.astro-code {
        padding: 12px;
        font-size: 80%;
        border-top: 2px dashed white;
        border-bottom: 2px dashed white;
    }
}

iframe[src*="https://www.youtube.com"] {
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
}
